# Python
__pycache__/
*.pyc
venv/

# Environment
.env
.env.*

# Data
data/
*.pdf
*.docx
*.json

# OS
.DS_Store
Thumbs.db

# Ignore sensitive data
backend/ingestion/state ai initiatives/
*.pdf
*.docx
*.json
.env
